kpc2-test
scripts/*
venv*
./venv2
venv
*.rdb
*nodes.conf
bfg.egg-info/
.coverage
.hypothesis/
dist/
*.rdb
venv2/
build/
venv
*~
*.pyc
._*
bfg/utils.c
bfg/utils.so
*.fasta
*.json
*.fai
*.out
.cache


bfg/utils.cpython-35m-darwin.so
cortex-py/
db
docker-compose1.yaml
gn-amr-genes.fasta.compressed
large_query.sh
notes.mdown
out.prof.tmp
q.fa
redis/redis_tmp.conf
remcdbg.egg-info/
remcdbg/
scripts/probablistic.py

*#
bfg/demo.sh
bfg/utils/*.c
bfg/utils/*.so
db2/
redis-cluster/redis_tmp.conf
scripts/benchmark_dumps.py
test_dump.pk
venvtmp/

