venvinstall
example-data
roaring-test
test-bigsi
notebooks
data
rocksdb
venv
kpc2-test
scripts/*
venv*
./venv2
venv
*.rdb
*nodes.conf
bigsi.egg-info/
.coverage
.hypothesis/
dist/
*.rdb
venv2/
build/
venv
*~
*.pyc
._*
bigsi/utils.c
bigsi/utils.so
*.fasta
*.json
*.fai
*.out
.cache


bigsi/utils.cpython-35m-darwin.so
cortex-py/
db
docker-compose1.yaml
gn-amr-genes.fasta.compressed
large_query.sh
notes.mdown
out.prof.tmp
q.fa
redis/redis_tmp.conf
remcdbg.egg-info/
remcdbg/
scripts/probablistic.py

*#
bigsi/demo.sh
bigsi/utils/*.c
bigsi/utils/*.so
db2/
redis-cluster/redis_tmp.conf
scripts/benchmark_dumps.py
test_dump.pk
venvtmp/

