*.pk
*nodes.conf
atlasseq.egg-info/
.coverage
.hypothesis/
dist/
*.rdb
venv2/
build/
venv
*~
*.pyc
._*
atlasseq/utils.c
atlasseq/utils.so
*.fasta
*.json
*.txt
*.fai
*.out
.cache


atlasseq/utils.cpython-35m-darwin.so
cortex-py/
db
docker-compose1.yaml
gn-amr-genes.fasta.compressed
large_query.sh
notes.mdown
out.prof.tmp
q.fa
redis/redis_tmp.conf
remcdbg.egg-info/
remcdbg/
scripts/probablistic.py

*#
atlasseq/demo.sh
atlasseq/utils/*.c
atlasseq/utils/*.so
db2/
redis-cluster/redis_tmp.conf
scripts/benchmark_dumps.py
test_dump.pk
venvtmp/

