bsddb3
mmh3
HLL
bitarray
#mccortex
bitstring
redispartition
redis
hiredis
cython
flask
celery
biopython
pyseqfile
## testing
hypothesis
pytest
codecov
pytest-cov

## Optional
#pyrocksdb
#bsddb3
#pathos

